html {
  height: 100%;
}
html body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html body * {
  box-sizing: border-box;
}
html body h4 {
  border-bottom: 1px solid #ddd;
  margin: 5px;
  font-size: 12px;
  width: 100%;
  height: 19px;
  color: chocolate;
}
html body .bb-main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
html body .bb-main .bb-context {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 201px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
html body .bb-main .bb-context div {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
html body .bb-main .bb-context div table {
  width: 100%;
  margin: 0 5px;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
html body .bb-main .bb-context div table td {
  vertical-align: top;
  font-weight: bold;
}
html body .bb-main .bb-context div table td ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-weight: normal;
  color: #777;
}
html body .bb-main .bb-context div table td ul li {
  overflow: hidden;
  text-overflow: ellipsis;
}
html body .bb-main .bb-context div table td ul li.decimal {
  color: #333;
}
html body .bb-main .bb-editors-container {
  position: absolute;
  top: 0;
  right: 201px;
  left: 201px;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
html body .bb-main .bb-editors-container .bb-editor-toolbar {
  width: 100%;
  height: 24px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 3px;
}
html body .bb-main .bb-editors-container .bb-editor-toolbar button {
  border: none;
  width: 18px;
  height: 18px;
  background-color: white;
  color: #333;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
html body .bb-main .bb-editors-container .bb-editor-toolbar button img {
  width: 16px;
  height: 16px;
  pointer-events: none;
}
html body .bb-main .bb-editors-container .bb-editor-toolbar button:hover {
  background-color: #eee;
}
html body .bb-main .bb-editors-container .bb-editors-list {
  position: absolute;
  top: 23px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
html body .bb-main .bb-editors-container .bb-editors-list .bb-editor {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
html body .bb-main .bb-editors-container .bb-editors-list .bb-editor .bb-editor-code {
  width: 100%;
  min-height: 100px;
  flex: 1;
  color: #333;
  border: none;
  resize: none;
}
html body .bb-main .bb-editors-container .bb-editors-list .bb-editor .bb-editor-result {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}
html body .bb-main .bb-editors-container .bb-editors-list .bb-editor .bb-editor-result .bb-value {
  width: 150px;
  display: flex;
  flex-direction: column;
}
html body .bb-main .bb-editors-container .bb-editors-list .bb-editor .bb-editor-result .bb-value > div:first-child {
  width: 100%;
  height: 20px;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}
html body .bb-main .bb-editors-container .bb-editors-list .bb-editor .CodeMirror {
  height: auto;
  border: 1px solid #ddd;
  background-color: #eee;
}
html body .bb-main .bb-editors-container .bb-editors-list .bb-editor.editor-focused .CodeMirror {
  border: 1px solid #7DADD9;
  background-color: white;
}
html body .bb-main .bb-helpers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 201px;
  padding: 1px 5px;
  overflow: hidden;
  border-left: 1px solid #ddd;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
html body .bb-main .bb-helpers .bb-value-editor {
  height: 230px;
  border-bottom: 1px solid #ddd;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .bb-main .bb-helpers .bb-value-editor table.value-radix input {
  border: 1px solid #ddd;
  width: 98%;
  font-size: 10px;
}
html body .bb-main .bb-helpers .bb-custom-functions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
html body .bb-main .bb-helpers .bb-custom-functions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-size: 10px;
  color: #777;
}
html body .bb-main .bb-helpers .bb-custom-functions ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}
html body .bb-main .bit-grid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .bb-main .bit-grid table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  table-layout: fixed;
  font-size: 9px;
}
html body .bb-main .bit-grid table td {
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
  width: 15px;
  height: 15px;
}
html body .bb-main .bit-grid table td div {
  background-color: #000;
  width: 9px;
  height: 9px;
}
html body .bb-main .bit-grid table td.no-decoration {
  border: none;
}
html body .bb-main .bit-grid table tbody tr:nth-child(odd) > td:nth-child(even),
html body .bb-main .bit-grid table tbody tr:nth-child(even) > td:nth-child(odd) {
  background-color: #eee;
}
html body .bb-main .bit-grid table tbody tr:nth-child(odd) > td:nth-child(even).no-decoration,
html body .bb-main .bit-grid table tbody tr:nth-child(even) > td:nth-child(odd).no-decoration {
  background-color: white;
}
